---
layout: default
---

<!-- particles.js container -->
<div id="particles-js"></div>

<div class="container-fluid">
  <div class="row">
    <div class= "col-xl-6 col-sm-8 col-xs-8 text-center tm-content" >
    <img class="rounded-circle" width="300" height="300" src="/assets/images/bio-photo.jpg"
         data-holder-rendered="true"">
    </div>
    <div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
      {{ content }}
      <div class="tm-social-icons-container text-sm-center">
        <a href="https://github.com/sinitame" class="tm-social-link" target="_blank"><i class="fa fa-github" ></i></a>
        <a href="https://www.linkedin.com/in/emricksinitambirivoutin/" class="tm-social-link" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://twitter.com/emricksini" class="tm-social-link" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
